.navbar {
  background: rgba(255, 255, 255, 1);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  top: 0;
  left: 0;
  .nav-container {
    width: 100%;
    max-width: 1440px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .nav-logo {
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 36px;
    }
    .nav-menu {
      display: flex;
      list-style: none;
      text-align: center;

      .nav-item {
        color: black;
        font-size: 16px;
        text-decoration: none;
        padding: 0 0 0 40px;
        height: 100%;
        .nav-links:hover,
        .nav-links.active {
          color: #4338ca;
        }
      }
    }
    .nav-icon {
      display: none;
    }

    @media screen and (max-width: 1024px) {
      .nav-menu {
        background: white;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: -110%;
        height: calc(100vh - 70px);
        transition: all 0.5s ease;
        z-index: 90;
        justify-content: space-evenly;

        .nav-item {
          padding: 1.5rem 1.5rem 1.5rem 1.5rem;
          width: 100%;
          display: table;
        }
      }

      .nav-menu.active {
        left: 0px;
      }
      .nav-icon {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        color: #090625;
      }
    }
  }
}
