:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;
}
*{
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}
